extends layout.pug

block title
    title Home

block header
    h1
        a(href="#navbar") Zeltlager 2023

block content
    div(class="content")
        div(class="content_box")
            p Schon seit grauer Vorzeit veranstalten wir in der ersten Woche der Sommerferien ein Zeltlager für Mädchen und Jungen im Alter von 9 bis 14 Jahren in der Fränkischen Natur. Wir bieten Musik, Sternenhimmel, Kreativprogramme, Geländespiele,  Schwimmen, Abenteuer, Nachtwanderungen, Lagerfeuer, und und und…….
                br
                br
                | Genaueres zu dem, was wir in dieser Woche so alles machen, findest Du unter Programm.
                br
                br
                | Wer wir im Einzelnen sind kannst du unter Team erfahren.
                br
                br
                | Eine Sammlung von Antworten auf häufig gestellte Fragen haben wir unter FAQ zusammen getragen – ansonsten kannst Du bei Fragen natürlich auch gerne Kontakt zu uns aufnehmen.
                br
                | Genauere Informationen zum Ablauf und Informationen rund um das Thema Anmeldung gibt es wieder ab Anfang 2020 – wenn die neue Planung konkret wird
                | asdf
                br
                |
                |

        div(class="content_box")
            img


        //TODO Bilder switch, Datenbank Kinderlisten, Content, Überschrift, session, PDFs, loading bar