extends layout.pug


block title
    title Team

block header
    h1 Team

block content
    div(class="content")
        div(class="content_box")
            p Hier Ist ganz viel TEXT der da steht weil er schön ist und wir uns freuen. Hier Ist ganz viel TEXT der da steht weil er schön ist und wir uns freuen.a Hier Ist ganz viel TEXT der da steht weil er schön ist und wir uns freuen.

        div(class="content_box")
            p Hier Ist ganz viel TEXT der da steht weil er schön ist und wir uns freuen.
            p Hier Ist ganz viel TEXT der da steht weil er schön ist und wir uns freuen.
