@media only screen and (max-width: 950px)   /*Tablet size*/
{
    nav h2{
        margin-left: 10px;      /*Rand links*/
    }
    .flux_box_container p{
        display: none;
    }
    #main_content{
        width: 700px;
    }
}


@media only screen and (max-width: 750px){      /*Handy size*/
    nav {
        background-color: rgb(53,53,53);
    }
    .flux_box_container{
        visibility: hidden;
    }
    #main_content{
        width: 100%;
        display: block;
    }

}