

extends layout.pug

block title
    title Anmeldung

block header
    h1 Impressum

block content
    div(class="content")
        div(class="content_box")
            p Hier Ist ganz viel TEXT der da steht weil er schön ist und wir uns freuen.
            p Hier Ist ganz viel TEXT der da steht weil er schön ist und wir uns freuen.
            p Hier Ist ganz viel TEXT der da steht weil er schön ist und wir uns freuen.

        div(class="content_box")
            p Hier Ist ganz viel TEXT der da steht weil er schön ist und wir uns freuen.
            p Hier Ist ganz viel TEXT der da steht weil er schön ist und wir uns freuen.
        //<a href="https://www.flaticon.com/free-icons/tent" title="tent icons">Tent icons created by Good Ware - Flaticon</a>
