doctype html
include navbar_mixin
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    block title
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href ="/stylesheet/style_layout.css")
    link(rel="stylesheet", href ="/stylesheet/style_content.css")

    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet")

html
    body
    header
        div
            div(class="side-writing")
                h2
                    a(href="/Zeltlager")  Herz Jesu

            div( class="main_heading heading ")
                block header
        +navbar()


    div(id="section" class="main_heading")
           block header

    block content

    +footer()